:root{
    --bodybackground: rgb(228, 228, 228);

    --sizeLogin: 300px;
    --backgroundFormulario: #ffffff;
    --bordeRadiusFormulario: 6px;
}

body{
    margin: 0;
}

article{
    height: 100vh;
    background-color: var(--bodybackground);
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(128, 128, 128);
    background: none;
    border-radius: 3px;
    outline: none;
    padding: 8px 10px;
    font-size: small;
}

form{
    box-sizing: border-box;
    padding: 15px;
}

form p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form p:nth-of-type(2){
    padding-top: 20px;
}

.change-tab > button{
    background: none;
    border: none;
    display: inline-block;
    outline: none;
    width: 50%;
    height: 50px;
    background-color: var(--bodybackground);
}

.change-tab > button.active{
    background-color: var(--backgroundFormulario);
}

.change-tab{
    display: flex;
}

.login-box{
    width: var(--sizeLogin);
    height: var(--sizeLogin);
    background-color: var(--backgroundFormulario);
    border-radius: var(--bordeRadiusFormulario);
}

.image-Login{
    width: var(--sizeLogin);
    height: var(--sizeLogin);
    border-bottom-right-radius: var(--bordeRadiusFormulario);
    background-size: cover;
    background-image: url("../../assets/nationalgeographic2683012_0.jpg");
}

.password{
    display: none;
}

.submit{
    margin-top: 15px;
    text-align: right;
}

.submit input[type="submit"]{
    border: 1px solid;
    padding: 6px 10px;
    border-radius: 3px;
    background: transparent;
}