body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav > div .nav-item{
    display: none;
}

nav > div:hover .nav-item{
    display: block;
}

.nav-item{
    position: absolute;
}

nav > div .nav-item > *{
    padding: 10px 0;
}